.top {
    width: 100%;
    position: relative;
    z-index: 0;
    padding-top: 6rem;
}

.Layout {
    width: 100%;
    display: block;
    margin-bottom: 2rem;
}

.Title {
    width: 100%;
    height: fit-content;
    position: relative;
    z-index: 0;
    display: block;
}
.Title_text {
    width: fit-content;
    font-size: 4rem;
    font-weight: 300;
    font-style: italic;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    white-space: nowrap;
}
.Title_text_ja {
    position: relative;
    width: fit-content;
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic;
    display: flex;
    align-items: center;
    bottom: 0.5rem;
    white-space: nowrap;
    margin-left: auto;
}
.Title_text_ja::before {
    display: inline-block;
    background-color: #000;
    width: 20px;
    height: 1px;
    content: "";
}
@media (max-width: 700px) {
    .top {
        padding-top: 3rem;
        padding-bottom: 5rem;
        min-height: 50vh;
    }
    .Layout {
        display: block;
    }
    .Title {
        margin-bottom: 1rem;
        display: block;
        justify-content: left;
    }
    .Title_text {
        align-items: left;
        font-size: 2.5rem;
        flex-wrap: wrap;
    }
    .Title_text_ja {
        width: 100%;
        font-size: 1rem;
    }
}

.Schedule {
    width: 100%;
    position: relative;
    z-index: 0;
    margin-right: 0;
}
@media (max-width: 700px) {
    .Schedule {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

.Timeline_Top {
    width: 100%;
    position: relative;
    z-index: 0;
}
.Timeline_Section {
    position: relative;
    padding: 0 1.5rem 1.5rem 2rem;
}

.Timeline_Section::before,
.Timeline_Section::after {
    position: absolute;
    content: "";
}
.Timeline_Section:not(:last-child)::before {
    top: 0;
    left: 6px;
    width: 3px;
    height: 100%;
    background-color: #d6dde3;
}
.Timeline_Section:last-child::before {
    top: 0;
    left: 6px;
    width: 3px;
    height: 20%;
    background-color: #d6dde3;
}

.Timeline_Section::after {
    top: 13px;
    left: 0;
    width: 14px;
    height: 14px;
    border: 4px solid #fff;
    background-color: #2589d0;
    border-radius: 50%;
}

.Timeline_Section_Num {
    margin-bottom: .1rem;
    color: #000;
    font-size: .85rem;
}

.Timeline_Section_Title {
    color: #333333;
    font-size: 1rem;
    font-weight: 600;
    margin: 0 auto .5rem;
}
.Timeline_Section_Date {
    color: #2d2d2d;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .25rem;
}

.Timeline_Section_Content {
    border-bottom: dashed 1px #c6cdd3;
    font-size: .9rem;
    padding-top: .5rem;
    padding-bottom: 1.5rem;
}

.Timeline_Section_Link {
    color: #2589d0;
    transition: .3s;
}
.Timeline_Section_Link:hover {
    text-decoration: underline;
    transition: .3s;
}