.Nav {
    display: block;
    width: 100vw;
}
.Top {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(70px);
    -webkit-transition: transform 0.3s cubic-bezier(0, 0, 0, 1);
    transition: transform 0.3s cubic-bezier(0, 0, 0, 1);
}
.Top.Top_Fixed {
    transform: translateY(0);
    -webkit-transition: transform 0.3s cubic-bezier(0, 0, 0, 1);
    transition: transform 0.3s cubic-bezier(0, 0, 0, 1);
}

.Top > .Logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Top > .Logo > .Logo_Image {
    position: relative;
    z-index: 100;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #000;
    margin-right: 10px;
}

.Top > .Logo > .Logo_Text {
    position: relative;
    z-index: 100;
    font-size: 1.75rem;
    font-weight: 400;
    font-style: italic;
    color: #000;
}

.Top > ul.List {
    position: relative;
    z-index: 100;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.Top > ul.List > li.Item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
}

.Top > ul.List > li.Item > a.Link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding: 0 10px;
    color: #000;
    font-size: 1.2rem;
    font-weight: 400;
}
@media (max-width: 768px) {
    .Top > ul.List > li.Item:nth-child(n + 5) {
        display: none;
    }
}
@media (max-width: 1024px) {
    .Top > ul.List > li.Item:nth-child(n + 6) {
        display: none;
    }
}
@media (max-width: 1280px) {
    .Top > ul.List > li.Item:nth-child(n + 7) {
        display: none;
    }
}
@media (max-width: 1440px) {
    .Top > ul.List > li.Item:nth-child(n + 8) {
        display: none;
    }
}
@media (max-width: 1600px) {
    .Top > ul.List > li.Item:nth-child(n + 9) {
        display: none;
    }
}

@media (max-width: 640px) {
    .Top {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: auto;
        height: 56px;
        transform: translateY(-70px);
        -webkit-transition: transform 0.3s cubic-bezier(0, 0, 0, 1);
        transition: transform 0.3s cubic-bezier(0, 0, 0, 1);
    }

    .Top > .Logo > .Logo_Image {
        width: 26px;
        height: 26px;
        border-radius: 50%;
    }
    .Top > .Logo > .Logo_Text {
        font-size: 1.5rem;
        font-weight: 500;
        font-style: italic;
    }
    
    .Top > ul.List {
        display: none;
    }
}

.Humbger {
    width: 32px;
    height: 32px;
    position: relative;
    cursor: pointer;
    z-index: 100;
    padding: 4px;
}
.Humbger > .Humbger_Line:first-child {
    width: 100%;
    height: 2px;
    background: #000;
    margin: 4px 0;
    transition: transform 0.3s cubic-bezier(0, 0, 0, 1);
}
.Humbger > .Humbger_Line:nth-child(2) {
    width: 100%;
    height: 2px;
    background: #000;
    margin: 4px 0;
    transition: opacity 0.3s cubic-bezier(0, 0, 0.5, 0);
}
.Humbger > .Humbger_Line:last-child {
    width: 100%;
    height: 2px;
    background: #000;
    margin: 4px 0;
    transition: transform 0.3s cubic-bezier(0, 0, 0, 1);
}

.Humbger.Humbger_Open > .Humbger_Line:first-child {
    width: 100%;
    height: 2px;
    background: #000;
    margin-bottom: 4px;
    transform: rotate(45deg) translate(3.5px, 5px);
    transition: transform 0.3s cubic-bezier(0, 0, 0, 1);
}
.Humbger.Humbger_Open > .Humbger_Line:nth-child(2) {
    width: 100%;
    height: 2px;
    background: #000;
    margin-bottom: 4px;
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0, 0, 0, 1);
}
.Humbger.Humbger_Open > .Humbger_Line:last-child {
    width: 100%;
    height: 2px;
    background: #000;
    margin-bottom: 4px;
    transform: rotate(-45deg) translate(3.5px, -5px);
    transition: transform 0.3s cubic-bezier(0, 0, 0, 1);
}

.Menu {
    position: absolute;
    z-index: 100;
    width: 100vw;
    height: calc(100vh - 56px);
    overflow: hidden;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: transparent;
    transform: translateX(100%);
    -webkit-transition: transform 0.3s cubic-bezier(0, 0, 0, 1);
    transition: transform 0.3s cubic-bezier(0, 0, 0, 1);
}
.Menu > .Menu_List {
    position: relative;
    z-index: 100;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.Menu > .Menu_List > .Menu_Item {
    margin: 0 1rem;
    width: 100%;
}
.Menu > .Menu_List > .Menu_Item > .Menu_Link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    color: #000;
    font-size: 1.2rem;
    font-weight: 400;
}
.bg {
    opacity: 0;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(40px);
    -webkit-transition: opacity 0.3s cubic-bezier(0, 0, 0.5, 0);
    transition: opacity 0.3s cubic-bezier(0, 0, 0.5, 0);
}
.bg_Open {
    opacity: 1;
    transform: translateX(0);
    -webkit-transition: opacity 0.3s cubic-bezier(0, 0, 0, 1);
    transition: opacity 0.3s cubic-bezier(0, 0, 0, 1);
}
@media (min-width: 640px) {
    .container, .Humbger {
        display: none;
    }
}