/**
 * Header
 */

.header {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 0;
    background: #000;
    overflow: hidden;
}


.header_canvas_top {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    user-select: none;
}
.header_canvas_svg {
    width: 100%;
    object-fit: cover;
    object-position: center;
}


.header_logo_top {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_logo_movie {
    width: 25%;
    border-radius: 9999px;
}
@media (max-width: 640px) {
    .header_logo_top {
        height: calc(100% / 3 * 2);
    }
    .header_logo_movie {
        width: 50%;
    }
}


.header_title_top {
    mix-blend-mode: difference;
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    margin: 0 0 3rem 3rem;
    background-color: transparent;
    user-select: none;
}
.header_title_slogan {
    margin-left: 0.5rem;
    color: #fff;
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: 100;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
}
.header_title_CVF {
    margin: 0.5rem 0;
    color: #fff;
    font-size: 6rem;
    line-height: 1;
    font-weight: 200;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
}
@media (max-width: 640px) {
    .header_title_top {
        margin: 0 0 8rem 1.5rem;
    }
    .header_title_slogan span:last-child {
        display: none;
    }
}


.header_scroll_down_top {
    position: absolute;
    z-index: 10;
    user-select: none;
    bottom: calc(3rem - 16px);
    right: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: .5rem;
    mix-blend-mode: difference;
    transform: rotate(-90deg);
    transform-origin: left;
}
@media (max-width: 640px) {
    /*
    .header_scroll_down_top {
        opacity: 0!important;
    }
    */
    .header_scroll_down_top {
        bottom: calc(7rem + 6px);
        right: -100px;
    }
}

.header_scroll_down_arrow {
    margin-right: 1rem;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    animation: scroll_down_arrow 3s infinite;
}
@keyframes scroll_down_arrow {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

.header_scroll_down_text {
    color: #fff;
    white-space: nowrap;
    font-size: 22px;
    font-style: italic;
    font-weight: 300;
}
@media (max-width: 640px) {
    .header_scroll_down_text {
        font-size: 20px;
        font-weight: 200;
    }
}
